<img src="{{ 'pug.jpg' | asset_url }}" alt="">

<h2>{{ collections.frontpage.title }}</h2>
{% for product in collections.frontpage.products %}
  <a href="{{ product.url }}">
    <div>
      <img src="{{ product.featured_image | image_url: width: 400 }}" alt="">
      <h3>{{ product.title }}</h3>
      <p>{{ product.price | money }}</p>
    </div>
  </a>
{% endfor %}
